<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
</head>
<body>
    <h1>Funcionários Cadastrados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Horas de Trabalho</th>
                <th>Hora de Início</th>
                <th>Hora de Término</th>
            </tr>
        </thead>
        <tbody>
            <!-- Thymeleaf itera sobre a lista de funcionários -->
            <tr>
                <th></th>
            </tr>
        </tbody>
    </table>
</body>
</html>
